<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CV Generator</title>
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>

  <h1>CV Generator</h1>
  <p class="page-sub">Construis et publie ton portfolio</p>

  <div class="card" style="text-align:center;display:flex;gap:1rem;justify-content:center">
    <a href="/login" class="btn-add" style="text-decoration:none">Se connecter</a>
    <a href="/register" class="btn-add" style="text-decoration:none">Créer un compte</a>
  </div>

</body>
</html>
